<template>
    <!-- <div>
        <h1 v-if="authenticated">Здравствуй, врач! Система скоро будет готова!</h1>
        <div>
            <h4 v-if="authenticated">
                Вы вошли в систему!
            </h4>
            <h4 v-if="!authenticated">
              Вы не вошли в систему! Пожалуйста, <a @click="auth.login()">войдите</a> чтобы продолжить.
            </h4>
            <button
            class="btn btn-primary btn-margin"
            v-if="authenticated"
            @click="auth.logout()">
              Выйти
          </button>
    
          </div>
    </div> -->
    <div>
        <div class="p-5 gradient-overlay bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="p-3 align-self-center col-md-4">
                        <div class="card">
                            <div class="card-block p-5">
                                <h1>
                                    <span style="font-size: 30px;">Справка на анализ спермы</span>
                                </h1>
                                <h3>Иванов Иван</h3>
                                <hr>
                                <p>Проверить на спид не забудьте</p>
                                <a href="#" class="btn btn-dark">Продолжить работу
                                    <br> </a>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 align-self-center col-md-4">
                        <div class="card">
                            <div class="card-block p-5">
                                <h1>
                                    <span style="font-size: 30px;">Донор мозга&nbsp;</span>
                                </h1>
                                <h3>Premium</h3>
                                <hr>
                                <p>Use all the features and get the maximum out of the app</p>
                                <a href="#" class="btn btn-dark">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 align-self-center col-md-4">
                        <div class="card">
                            <div class="card-block p-5">
                                <h1>
                                    <sup>$</sup> 135 </h1>
                                <h3>Pro</h3>
                                <hr>
                                <p>Get the whole pack and forget about everything else</p>
                                <a href="#" class="btn btn-dark">Subscribe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5 bg-light text-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 my-3">
                        <div class="card">
                            <div class="card-header bg-primary text-white text-center">Features #1</div>
                            <img class="img-fluid" src="https://pingendo.github.io/templates/sections/assets/features_mac.jpg" alt="Card image">
                            <div class="card-body">
                                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                                <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                                <a href="#" class="card-link">link</a>
                                <a href="#" class="card-link">Second link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <img class="img-fluid d-block mb-4" src="https://pingendo.github.io/templates/sections/assets/features_strawberry.jpg">
                        <h5>
                            <b>Features#2: strawberries</b>
                        </h5>
                        <p class="mt-1">Integrate it in your toolset. Use Pingendo alongside your favourite code editor, Git client, etc.</p>
                    </div>
                    <div class="col-md-4 my-3">
                        <img class="img-fluid d-block mb-4 img-thumbnail" src="https://pingendo.github.io/templates/sections/assets/features_bluetable.jpg">
                        <h5>
                            <b>Features#3: blue palette</b>
                        </h5>
                        <p class="mt-1">Just quality vanilla Bootstrap 4 code. No messy dependencies. For nerds peace of mind.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style>
    a {
        cursor: pointer;
    }
</style>
<script src="./home.ts" />