<template>
    <div>
        <h1 v-if="authenticated">Здравствуй, врач! Система скоро будет готова!</h1>
        <div>
            <h4 v-if="authenticated">
                Вы вошли в систему!
            </h4>
            <h4 v-if="!authenticated">
              Вы не вошли в систему! Пожалуйста, <a @click="auth.login()">войдите</a> чтобы продолжить.
            </h4>
            <button
            class="btn btn-primary btn-margin"
            v-if="authenticated"
            @click="auth.logout()">
              Выйти
          </button>
    
          </div>
    </div>
    
</template>


<style>
    a {
      cursor: pointer;
    }
  </style>
<script src="./home.ts" />